.container {
  width: 98%;
  height: 96%;
  position: absolute;
  top: 2%;
  left: 1%;
  background-image: linear-gradient(
    to right bottom,
    rgba(235, 1, 188, 0.5),
    rgba(62, 190, 226, 0.5)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  padding: 10px;
  visibility: hidden;
}
